

#container{

    width: 100vh;
    background-color: #006aeb;
    border-radius: 10px;
    padding: 5px
}
input{
    width: 100%;
    box-sizing: border-box;
    align-self: center;
   padding: 8px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color:antiquewhite;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
 
    
}
form{

    align-items: center;
}
.contactList{ 
    background-color: #006aeb;
}

.contactItem{
  padding: 2px;
  margin: 2px;
  justify-content: space-around;
 
}
ul,li{

    list-style-type: none;
    margin: 0;
    padding: 0;
    

}

.contactListContainer{

   background-color: #006aeb;
    padding: 5px;
    align-items: self-start;
}

.contactItem li{
    padding: 5px;
    background-color: rgb(214, 196, 196);
    justify-content: space-between;
    display: flex;
    border-radius: 10px;
  

}

