.app{
    display: flex;
    align-items: center;
    height: 100vh;
   flex-direction: column;
   align-content: center;
   justify-content: center;
  }
  
  .app.dark{
    background-color: black;
    color:beige;
  }
  .app.light{
    background-color: white;
    color: #000;
  }